body {
font-family: "Inter", sans-serif;
margin: 0;
color: #333;
}
.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}
.nav {
display: flex;
justify-content: space-between;
text-align: center;
padding: 20px 0;
}

.nav .logo {
display: flex;
align-items: center;
font-weight: 700;
font-size: 24px;
color: #243e63;
}
.nav .logo img {
width: 50px;
}

.nav-links a {
text-decoration: none;
color: #243e63;
margin-left: 25px;
font-weight: 600;
}

.btn-signup {
background-color: #6415ff;
padding: 10px 20px;
color: white !important;
border-radius: 20px;
}

.hero {
display: flex;
padding: 60px 0;
height: 400px;
width: 100%;
}

.hero-content {
width: 50%;
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
padding: 20px 0;
}

.hero h1 {
font-size: 48px;
color: #243e63;
}
.hero h1 span {
color: #6415ff;
}
.cta-form {
display: flex;
margin-top: 30px;
width: 400px;
max-width: 100%;
position: relative;
}

.cta-form input {
padding: 15px;
width: 100%;
border: 2px solid #e2e8f0;
border-radius: 30px 30px 30px 30px;
}
.cta-form button {
height: 80%;
padding: 10 30px;
background: #6415ff;
color: white;
border: none;
border-radius: 90px 90px 90px 90px;
cursor: pointer;
position: absolute;
right: 5;
top: 10%;
}

.hero .image {
justify-content: start;
align-items: start;
width: 50%;
}
.customer-logos {
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
margin: 20px 0;
}


